<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="org.auto.gb.ExtentReportListener.ExtentReporterNG"></listener>
	</listeners>

	<test thread-count="2" name="Guru99Bank">
		<classes>

			<class name="org.auto.gb.Tests.TC_GBLogin_001" />

		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
